<h1>Recent Houses</h1>
<hr/>
<% @listings.each do |l| %>
  <% images = l.property.property_images.where(order: 0) %>
    <div class="row">
      <div class="col-md-9">
        <h3><%= link_to l.property.title.titleize, {:action=> 'view', :controller=>'listing', :id=>l} %> (<%= l.property.average_rating %> Star)</h3>
        <p><b><%= l.property.suburb %> <%= l.property.state %></b></p>
        <% unless session[:current_user] == nil %>
            <% if l.get_status %>
                <p>
                  Available from <span class="label label-success"><%= l.start.to_formatted_s(:long) %></span> to
                  <span class="label label-success"><%= l.end.to_formatted_s(:long) %></span>
                </p>
            <% else %>
                <p>
                  Booked from <span class="label label-danger"><%= l.start.to_formatted_s(:long) %></span> to
                  <span class="label label-danger"><%= l.end.to_formatted_s(:long) %></span>
                </p>
            <% end %>
            <p>Daily Points: <b><%= l.daily_points %></b> - Minimum Rating: <b><%= l.minimum_rating %></b>
        <% end %>
        <p><%= l.property.description %></p>
      </div>
      <div class="col-md-3" style="padding-top: 50px;">
        <% if images.empty? %>
            <p style="text-align: center;">No Image Available</p>
        <% else %>
            <img src="/uploads/<%= images.first.file_name.split("/").last %>" width="200px"/>
        <% end %>
      </div>
    </div>
<hr/>
<% end %>
<h1>Recent Requests</h1>
<hr/>
<% @tenants.each do |t| %>
    <div class="row">
      <div class="col-md-9">
        <h3><%= link_to (t.user.first_name.titleize + ' ' + t.user.last_name[0].titleize + '.'), {:action=> 'view', :controller=>'tenant', :id=>t} %></h3>
        <h4>is looking for a house in</h4>
        <h3><%= t.suburb %></h3>
        <% unless session[:current_user] == nil %>
            <p>
              from <span class="label label-success"><%= t.start.to_formatted_s(:long) %></span> to
              <span class="label label-success"><%= t.end.to_formatted_s(:long) %></span>
            </p>
            <p>Maximum Daily Points: <b><%= t.maximum_daily_points %></b></p>
        <% end %>
      </div>
    </div>
<hr/>
<% end %>
