<h1>Tenants</h1>
<hr/>
<% @tenants.each do |t| %>
  <div class="row">
    <div class="col-md-9">
      <h3><%= link_to (t.user.first_name.titleize + ' ' + t.user.last_name[0].titleize + '.'), {:action=>"view", :id=>t} %> (<%= t.user.average_rating %> Star)</h3>
      <h4>is looking for a house in</h4>
      <h3><%= t.suburb %></h3>
      <% unless session[:current_user] == nil %>
        <p>
          from <span class="label label-success"><%= t.start.to_formatted_s(:long) %></span> to
          <span class="label label-success"><%= t.end.to_formatted_s(:long) %></span>
        </p>
        <p>Maximum Daily Points: <b><%= t.maximum_daily_points %></b></p>
      <% end %>
    </div>
  </div>
<hr/>
<% end %>

